body{
    margin: 5%;
}

#preview{
    display: flex;
    justify-content: center;
    margin: 5px;
}
#outer{
    /* display: none; */
}
#file_outer{
    text-align: center;
    border: solid cornflowerblue 2px;
    border-radius: 4px;
    margin:5px;
    padding:5px;
}

#manual_outer{
    margin: auto;
    border: solid cornflowerblue 2px;
    border-radius: 4px;
    margin:5px;
    padding:5px;
}

.rows{
    display: flex;
    width: 90%;
    margin: auto;
    background-color: aqua;
    justify-content: flex-start;
    /* position: relative; */
}

.cols{
    height: 80px;
    width: 10%;
    margin: 10px;
    background-color: yellow;
}

.toggle_class{
    background-color:red;
}

.day{
    border: solid darkorange 1px;
    height: 80px;
    width: 10%;
    margin: 10px;
    background-color:greenyellow;
    text-align: center;
    line-height: 80px;
    
}
.inner_rows{
    width:90%;
    display: flex;
    justify-content: space-around;
}

#submit_slots{
    text-align: center;
    margin-top: 10px;
}

#final_submit{
    text-align: center;
}

